* {
    transform: scale(0.9);
    transform-origin: 0 0;
 }

.row {
    margin-left: 0;
    margin-right: 0
}

#languagesOut,
#footerOut {
    margin-top: 15px
}

pre,
pre>code {
    padding: 0;
    border: 0
}

code.hljs {
    white-space: pre
}

#data {
    margin: auto;
    width: 75%
}

#data dd {
    font-size: 500%
}

.big {
    font-size: 1350%;
    margin: 0;
    padding: 0
}

.examples {
    width: 95%
}

.lang {
    width: 60px
}

.exlink {
    width: 90px
}

#ts {
    padding-left: .3em;
    padding-right: 1em
}

#countdowns {
    font-size: 130%
}

#cookiesConsent {
    position: fixed;
    bottom: 0;
    z-index: 10000;
    display: none;
    border: 1px solid #000;
    background-color: #f6f6f6
}